# =============================================================================
# C O P Y R I G H T
# -----------------------------------------------------------------------------
# Copyright (c) 2020-2022 by Helmut Konrad Fahrendholz. All rights reserved.
# This file is property of Helmut Konrad Fahrendholz. Any unauthorized copy,
# use or distribution is an offensive act against international law and may
# be prosecuted under federal law. Its content is company confidential.
# =============================================================================

utilo>=2.93.0<3.0.0

# docref.serialize(serializeraw.dump_docref)
iamraw>=4.88.5<5.0.0
# split sentence
germania>=1.27.1<2.0.0
# load and visit sentences
words>=1.23.0<2.0.0
konradus>=0.10.2<1.0.0
knlp>=0.6.3<1.0.0
